html, body{
    font-family:"Microsoft YaHei", Arial;
    margin:0px;
    padding:0px;
	background:#D7DCE1;}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,li,input,h1,h2,h3,h4,img,p{
    padding: 0;
    margin: 0;
    border: 0 none;}
a{
	border:none;
    text-decoration: none;}
#header{
    position: relative;
	position:absolute; 
	z-index:2;
	top:0; left:0;
	width:100%;}
#head-nav,#head-nav1,#head-nav2{
	position:absolute;
	top:2.5em;
	width:100%;}
.btn-back{
    position: absolute;
    top:.5em;
    left:0.5em;
    display: -webkit-box;}
.btn-back a{
    display: block;}
.btn-l{
    width: .8em;
    background:url(../imgs/app-btn-l.png) repeat-x;
    -webkit-background-size:100% 100%;}
.btn-c{
    -webkit-box-flex: 1;
    background:url(../imgs/app-btn-c.png) repeat-x;
    -webkit-background-size:auto 100%;
    font-size: .8em;
    padding: 0.5em 0.3em 0.5em 0.3em;
    color: white;}
.btn-r{
    width: .4em;
    background:url(../imgs/app-btn-r.png) repeat-x;
    -webkit-background-size:100% 100%;}
.head-title{
	line-height:30px;
    font-size: 1.0em;
    font-weight: normal;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: .6em 0em 0.2em;
    background:#97a321;}
.nav{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0eff0), to(#cfcfcf));
    display:-webkit-box;	
    list-style: none;}
.nav li{
    border-right: darkGray solid 1px;
	margin: 0.8em 0em;
    -webkit-box-flex:1;
    text-align: center;
    color: black;
    font-size: 0.9em;}
.flash-car{
    font-size: 0px;}
.flash-car img{
    width: 100%;}
	
/* content */
#wrapper {
	position:absolute; z-index:1;
	top:4.9em; 
	bottom:3em; 
	left:0;
	width:100%;
	overflow:auto;
	background:#d7dce1;}
#scroller {
	position:absolute; 
	width:100%;
	padding:0;}
#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;}
#scroller li {
	padding:0 0em;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:1em;}
#more{
	text-align:center;
	padding:0.8em 0em;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#C9C9C9));}	
.titlepage img{
	display:block;
    width:100%;}	

/* footer */
#footer{
	position:absolute; 
	z-index:2;
	bottom:0; left:0;
	width:100%;
    display: -webkit-box;
    background: #232323;
    height: 3em;}
#footer a{
    display: block;
    -webkit-box-flex:1;
    padding-top:0.5em;
	text-align:center; color:white; font-size:0.5em;}
#footer a:active{
    background:#4d4c4c;}
.ft-homeed{background: -webkit-gradient(linear, 0 0, 0 100%, from(#909b21), to(#3c3f22));}
.ft-infoed{background: -webkit-gradient(linear, 0 0, 0 100%, from(#909b21), to(#3c3f22));}
.ft-menued{background: -webkit-gradient(linear, 0 0, 0 100%, from(#909b21), to(#3c3f22));}
.ft-seted{background: -webkit-gradient(linear, 0 0, 0 100%, from(#909b21), to(#3c3f22));}

.bottompic{
	width:3.5em; 
	display:block; 
	margin:0 auto;
	margin-top:0.3em;}
.bottomText{
	width:4em; 
	font-size:0.5em; 
	margin:0 auto; 
	text-shadow:none;
	margin-top:0.2em;}

/* -----------------  index ---------------------------  */
#thelist{
	overflow:hidden;
	zoom:1;
    overflow-y: auto;
    list-style: none;}
#thelist li{
    border-bottom: 1px solid #dddddd;}
#thelist li a{
    padding: 0.5em 0.5em;
    display: block;
    color: black;}
#thelist li a:active{
    background: #dedede;}
#thelist li h4{
    font-size: 0.9em;
    padding-bottom: 0.5em;
    font-weight: bold;}
#thelist li p{
    font-size: 0.7em;}
.main-smalltext{
	color:#666;}
.main-smalltext:after{
    content:"...";}
.main-time{
    text-align: right;
	padding-top:0.2em;}
.selbo{
	border-bottom:#F90 solid 2px ;}
#nowloading{
	width:100%;
	height:20em;
	background:white;
	text-align:center;}
.toast{
	z-index:2;
	position:absolute;
	padding:0.5em 1em;
	background:#000;
	border-radius:4px;
	-webkit-opacity:0.6;
	color:white;
	text-shadow:none;
	width:auto;}
.downAll{
	z-index:20;
	position:absolute;
	padding:0.5em 1em 0.4em 0em;
	background:#000;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-webkit-opacity:0.8;
	color:white;
	bottom:5em;
	right:-7em;
	width:auto;}
#downNow{
	width:6em;
	float:left;}
#proccess{
	background:url(../imgs/proccessbg1.png) no-repeat center center;
	width:290px;
	height:26px;
	margin:0 auto;
	margin-top:1em;
	z-index:20;
	padding-top:12px;}
#proccessbg{
	background:url(../imgs/proccessbg2.png) no-repeat center center;
	width:249px;
	height:14px;
	margin:0 auto;}
#proin{
	width:1px;
	height:14px;
	overflow:hidden;}
.logo{
	position:absolute;
	left:0;
	margin-top:0.3em;}
.logo img{
	margin-left:0.2em;
	width:7em;}
.refresh{
	top:0.5em;
	position:absolute;
	right:0.4em;}
.refresh img{width:1.7em; height:1.7em;}
.title{
	width:100%;}
#downbutton{
	width:1em; 
	float:left;}
.downarr{
	margin-top:0.1em; 
	margin-left:0.2em; 
	margin-right:0.1em;}
#shadow{
	background:#fff; 
	opacity:0.9; 
	width:100%; 
	height:100%; 
	z-index:200; 
	position:absolute; 
	display:none;}
.downloading{
	margin:0 auto; 
	width:10em; 
	margin-top:20em;}
.propic{
	display:block;
	margin:1px;}

/* -----------------  content ---------------------------  */
.conTit{
	width:auto;
	text-align:center;
	color:#003366;
	padding:1em 1em 0em 1em;}
.conInfo{
	padding:0.5em 1em 0.5em 1em;
	width:auto;
	text-align:center;
	font-size:0.8em;
	color:#999;}
.conText{
	padding:0em 0.8em 0.8em 0.8em;
	width:auto;
	font-size:0.8em;}
.Comment{
	padding:0px 5px;
	border-radius:5px;
	background:#707227;
	width:2.2em;
	top:0.4em;
	color:white;
	position:absolute;
	right:0.3em;}
.share{
	right:3.3em;}
#publish{
	position:absolute;
	bottom:3em;
	height:2.5em;
	width:98%;
	padding:0 0.5em;
	background:#999;
	border-top:#666 solid 1px;
	z-index:3;}
.publishText{
	height:1.8em;
	margin:0 auto;
	margin-top:0.4em;
	background:#FFF;
	border-radius:5px;
	padding-left:0.5em;
	color:#666;
	width:75%;
	float:left;
	line-height:1.8em;}
.subcom{
	width:3em;
	float:left;
	border-radius:5px; 
	background: -webkit-gradient(linear, 0 0, 0 50%, from(#fff), to(#C0C0C0)); 
	padding:0.3em 0.5em;
	margin-top:0.4em;
	margin-left:0.3em;}
.shareDiv{
	zoom:1;
	overflow:hidden;
	width:100%;
	margin-top:10em;}
.shareDiv ul{
	padding:0em;
	width:80%;
	list-style:none;
	margin:0 auto;
	background:#E6E6E6;
	line-height:1em;
	border-radius:4px;}
.shareDiv ul li{
	color:black;
	padding:0.8em;
	border-bottom:#ccc solid 1px;
	font-size:1em;}
.shareDiv ul li a{
	color:black;}
.shareClose{
	display:block;
	float:right;
	margin-right:-10px;
	margin-top:-10px;}
.shareDiv ul li.closeLi{
	text-align:center;
	border-bottom:none;}
.layer{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:30;
	background:rgba(0,0,0,0.6);}

/* -----------------  login ---------------------------  */
#login{
	background:#d7dce1;
    padding: 0.5em 1.5em;
	margin-top:2.5em;
	height:87%;}
.loginTitle{
	font-size:0.9em;
	text-align:center;
	color:#666666;
	margin-top:2em;
	margin-bottom:1em;}
.loginBut{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#babec4), to(#7c8084));
	text-align:center;
	border-radius:3px;
	color:white;
	padding:10px;
	margin-bottom:1em;}
.loginBut a{
	color:white;}
.regis{
	border-bottom:#ccc solid 1px;
	background:white;
	zoom:1;
	overflow:hidden;
	border-top-left-radius:10px;
	border-top-right-radius:10px;}
.forpass{
	background:white;
	zoom:1;
	overflow:hidden;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;}
.loginres{
	display:block;
	float:left;
	margin:3px 12px 3px 8px;}
.gotoreg{
	width:6em;
	float:left;
	height:2em;
	line-height:2.5em;}
.goarr{
	display:block;
	float:right;
	margin-right:5px;
	margin-top:3px;}
.textleft{
	text-align:left;
	margin-top:1em;
	margin-bottom:0.5em;}
.gotoreg a{
	color:black;}

/* -----------------  set ---------------------------  */
.set-list{
   	background:#d7dce1;
    padding: 0.5em;
	margin-top:2.5em;
	height:87%;}
.setCont{
	background:white;
	border-radius:10px;
	zoom:1;
	overflow:hidden;
	font-size:0.8em;
	margin-top:0.5em;}
.info{
	margin-left:1.5em;
	margin-top:1em;
	margin-right:1.5em;
	line-height:1.5em;}
.setCont a{
	color:black;}
.TDpass{
	display:block;
	margin:0 auto;
	width:12em;}
.saomiao{
	text-align:center;
	margin-top:0.3em;
	margin-bottom:0.3em;}
.support{
	font-size:0.95em;
	text-align:center;
	margin-bottom:0.8em;
	margin-top:0.8em;}
.topinfo{
	font-weight:bold;
	text-decoration:underline;}
	
/* ----------------- comment --------------------------  */	
.comText{
	width:100%;
	height:20em;
	border-radius:8px;
	display:block;
	border:#F90 solid 1px;
	line-height:1em;
	padding:0.5em;
	margin:0 auto;}
.comForm{
	width:90%;
	margin:0 auto;
	margin-top:7em;}
.Dopublish{
	padding:0.5em 1em;
	background: -webkit-gradient(linear, 0 0, 0 50%, from(#999), to(#333));
	border-radius:6px;
	color:#FFF;
	font-weight:bold;
	float:right;
	margin-top:1em;}

/*------------Pull down styles-----------*/
#pullDown, #pullUp {
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;}
.pullDownLabel{
	color:#FFF;}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../imgs/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);}
#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);}
#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

/*-------------------map----------------------*/
#geolocation{
	width:100%; 
	height:100%; 
	background:#999; 
	color:#900;}
.unamediv{
	background:white;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	line-height:3em;
	border:#999 solid 1px;
	padding-left:0.4em;}
.upassdiv{
	line-height:3em;
	background:white;
	border:#999 solid 1px;
	border-top:none;
	padding-left:0.4em;}
.upassdiv1{
	line-height:3em;
	background:white;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	border:#999 solid 1px;
	border-top:none;
	padding-left:0.4em;}
.lastdiv{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	line-height:3em;
	background:white;
	border:#999 solid 1px;
	border-top:none;
	padding-left:0.4em}
.rebttn{
	background: -webkit-gradient(linear, 0 0, 0 50%, from(#C4CA89), to(#696F2E));
	margin-top:0.5em;
	border-radius:5px;
	line-height:2em;
	text-align:center;
	color:white;
	}
/*------------Millward Brown-----------------*/
.news{
	padding:0.6em;
	padding-bottom:0;
	background:#EBEBEB;}
.news p{
	color:#666;
	line-height:2em;}
.newspic{
	width:50%;
	float:left;
	display:block;}
	
#banner{
	width:100%;			
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	background:#aaa;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background:#e3e3e3;}
#scroll_banner{
	width:200%;
	float:left;
	padding:0;}
#scroll_banner ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	text-align:left;}
#scroll_banner li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; 
	float:left;
	width:50%;
	height:100%;
	text-align:center;}
#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
  }
#indicator {
	width:110px;
	padding:12px 0 0 30px;
  }
  
#indicator > li {
	text-indent:-9999em;
	width:0.4em; height:0.4em;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	overflow:hidden;
	border:none;
	margin-right:0.5em;
  }
#indicator > li.active {
	background:#888;
  }
#indicator > li:last-child {
	margin:0;
  }
#banner_cont{
	position:absolute;
	top:8.5em;
	left:48%;
	z-index:300;}	
.news_item{
	border:#D9D9D9 solid 1px;
	padding:0.5em;
	overflow:hidden;
	zoom:1;
	background:white;}
.newsbg{
	overflow:hidden;
	zoom:1;
	background:#7b7b7b;}
.newsbg02{
	background:#243a87;}
.newsbg03{
	background:#4e2b17;}
.newstext{
	font-size:0.8em;}
.banner_all{
	position:relative;
	overflow:hidden;}
.scroll_cont{
	overflow:hidden;
	zoom:1;}
.brandznews{
	width:50%;
	float:left;}
.brandznews ul#brandzul{
	display:block;
	margin-left:0.5em;}
.brandznews ul#newsul{
	display:block;
	margin-left:0.5em;}
.brandznews ul#updownul{
	display:block;
	margin-left:0.5em;}
.brandznews ul#brandzul li {
	border-bottom:none;
	border-top:none;
	background-color:#7b7b7b;}
.brandznews ul#newsul li {
	border-bottom:none;
	border-top:none;
	background-color:#243a87;}
.brandznews ul#updownul li {
	border-bottom:none;
	border-top:none;
	background-color:#4e2b17;}
.brandznews ul li a{
	font-size:0.6em;
	line-height:1em;
	color:white;}
.brandznews ul#newsul li a{
	font-size:0.6em;
	line-height:0.8em;
	color:white;}
.brandznews ul#updownul li a{
	font-size:0.6em;
	line-height:0.8em;
	color:white;}
.brandzT{
	text-align:center;
	text-decoration:underline;
	color:white;
	margin:1em;}
.newsT{
	margin:1em 0 0.5em 0;}
#activinfo{
	padding-left:0.8em;
	width:94%;
	font-size:0.6em;
	color:white;}
#activinfo tr td{
	line-height:1.2em;}
.wentreg{
	text-decoration:underline;
	color:white;
	text-align:right;
	font-size:0.6em;
	padding-right:0.6em;
	margin-top:1em;}
.inputreg{
	width:90%;
	height:1.5em;
	border:#ccc solid 1px;}
.field{
	width:60%;}
.autocenter .subreg{
	padding:0.5em;
	width:90%;
	height:1em;
	line-height:1em;
	text-align:center;
	color:white;
	margin:0 auto;
	background: -webkit-gradient(linear, 0 0, 0 50%, from(#C4CA89), to(#696F2E));
	border-radius:5px;
	margin-top:1em;}
#regtable{
	position:absolute;
	width:100%;
	height:20em;
	top:4.9em;
	z-index:2000;
	background:white;
	overflow:hidden;
	zoom:1;}
.autocenter{
	width:80%;
	margin:0 auto;
	line-height:2em;}
.autocenter div div{
	height:2em;}
.autocenter div input{
	width:100%;
	height:1.8em;
	border:#999 solid 1px;
	border-radius:5px;}